.dynamic-input {
  position: relative;
}

.dynamic-input .dynamic-input__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 40%;
}

.dynamic-input .dynamic-input__input {
  width: 90%;
}

.dynamic-input .dynamic-input__del {
  margin-left: 8px;
}

.dynamic-input .dynamic-input__del:hover {
  cursor: pointer;
}

.dynamic-input .dynamic-input__add {
  position: absolute;
  left: 40%;
  bottom: 10px;
}